<div class="container">
    <div class="row">

        <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
          
                        <div class="team-thumb">
                       <img src="@Url.Content()" class="img-fluid" alt="Trainer">

                            <div class="team-info d-flex flex-column">

                                <h3>Juan Miguel</h3>
                                <span>Administrador</span>

                              
                            </div>
                        </div>

          
        </div>

        <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
               <div class="entry-form">
                     <form action="" id="user-entry-form">
                      <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Ingresar Usuario </h2>
                           <input type="text" name="id" id="id" hidden>

                            <label class="text-white" for="idRol">Elejir puesto: </label>
                                <select id="idRol" class="form-control" name="role">
                                    
                                </select>

                           <input type="text" name="name" id="name" class="form-control" placeholder="Nombre completo" required="">
                         
                           <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI" required="">
                       
                           <input type="number" name="age" id="age" class="form-control" placeholder="Edad" required="">
                          
                           <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telefono" required="">
                      
                           <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="">
                      
                           <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
                         

                           <button class="submit-btn form-control"  id="form-submit">Añadir Usuario</button>
                           <button class="submit-btn form-control"  id="form-cancel">Cancelar</button>
                     

                           <label id="result"></label>
                      </form>

        </div>
        </div>
    </div> 
    </div> 