<div class="banner">
    <div class="content">
        <h1 data-aos="fade-up" data-aos-delay="300">Cloud Parking</h1>
        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">La forma mas rápida de encontrar parqueo</h1>
        <a routerLink="menu">Ingresar <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<section class="contact section" id="contact">
    <div class="container mt-5 mb-5">
         <div class="row">

              <div class="ml-auto col-lg-5 col-md-6 col-12">
                  <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Iniciar Sesión</h2>

                  <form action="" data-aos="fade-up" data-aos-delay="400" role="form">
                   

                      <input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Email">
                         <input type="password" class="form-control" id="cf-password" name="cf-password" placeholder="Password">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" (click)="Login()">Login</button>
                      </div>
                        <label id="result"></label>
                  </form>
              </div>

              <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                  <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600"> <span>Aún no estás registrado?</span></h2>
                   <h2 class="mb-3 text-black" data-aos="fade-up">Registro gratuito</h2>

              <h6 class="mb-4 text-black" data-aos="fade-up">Solicita ya a tu operador mas cercano y comienza a elegir tu espacio indicado</h6>

              <p data-aos="fade-up" data-aos-delay="200">Somos una empresa que da soluciones integrales de estacionamiento a través de mecanismos tecnológicos de ultima generación.</p>

            
      

              </div>
              
         </div>
    </div>
</section>

